* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("images/bkgimg.jpg");
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	background-size: cover;
	font-family: "Acme", sans-serif;
	color: #fda4e2;
	line-height: 1.4;
	text-align: center;
}

/* testing : from layering on landing page */

#landinglayer {
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
	display: flexbox;
	/* to be used for hiding landing page after playbtn clicked */
}

form {
	width: 100%;
	height: 15vh;
	font-size: 1.75em;
	margin: 1vh;
}

input {
	border: #fda4e2 solid 5px;
	height: 50%;
	width: 50%;
}

#playbtn {
	height: 20vh;
	/* max-width: 20%; */
	/* height: auto; */
	/* margin-left: auto;
	margin-right: auto; */
	/* display: block; */
}

#playbtn:hover {
	color: rgba(250, 250, 250, 0.3);
	box-shadow: 25px 0px 200px rgba(255, 255, 0, 1);
	border-radius: 50%;
}

#logo {
	margin-top: 5vh;
	margin-bottom: 10px;
	height: 40vh;
	position: relative;
	animation-name: animate;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes animate {
	0% {
		top: 7px;
	}
	25% {
		top: -7px;
	}
	50% {
		top: 7px;
	}
	75% {
		top: -7px;
	}
	100% {
		top: 7px;
	}
}

/* playing area style */

section#mainplay {
	width: 100vw;
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
	justify-content: space-evenly;
	padding: 2.5%;
	/* use display none to hide the main play stage */
	display: flexbox;
}

header {
	display: inline-flex;
	width: 95vw;
	order: 1;
	justify-content: space-evenly;
	-webkit-flex-direction: column;
	flex-direction: column;
	/* float: left; */
	/* height: 15vh; */
}

.row1,
.row2 {
	display: inline-flex;
}

p,
h2 {
	width: 20%;
	color: #ae45fc;
}

h2 {
	border-radius: 25px;
	background: #ae45fc;
	color: white;
	margin: 1%;
	width: 18%;
}

#cardbox {
	order: 2;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 5%;
}

div {
	background-color: #fffaa0;
	height: 100px;
	width: 100px;
	margin: 3px;
	border: 3px solid #fda4e2;
}

footer {
	flex: 3;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 95vw;
	height: 20vh;
	justify-content: center;
	display: inline-flex;
	visibility: hidden;
}

ul#gamelog {
	list-style-type: none;
	padding: 10px 20px;
	margin: 0px 1px 10px 15px;
	text-align: left;
	flex: 3.5;
	background-color: rgba(255, 255, 87, 0.5);
	border: white solid 2px;
	border-radius: 25px;
	font-size: 12px;
}

footer nav {
	color: grey;
	justify-content: space-between;
	align-self: flex-end;
	padding: 25px 3px;
	flex: 1;
}
footer nav:hover {
	color: #ae45fc;
	transform: translateY(-10px);
	font-size: larger;
}

img.hide {
	max-width: 100%;
	height: auto;
	visibility: hidden;
}

img.cutie {
	max-width: 100%;
	height: auto;
}
