* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("images/bkgimg.jpg");
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	background-size: cover;
	font-family: "Acme", sans-serif;
	color: royalblue;
	font-size: 16px;
	line-height: 1.7;
	text-align: center;
}

/* testing : from layering on landing page */

.landinglayer {
	height: 90vh;
	background-color: rgba(255, 255, 250, 0.3);

	/* white layer see-through */
	position: relative;
	top: 0;
	left: 0;
	border: 15px solid purple;
}

.center {
	margin: auto;
	width: max-content;
	height: 150px;
	text-align: center;
	border: 10px solid red;
}

input {
	border: #fda4e2 solid 5px;
	height: 50px;
	width: 500px;
	margin: 10px;
}

#playbtn {
	max-width: 20%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#playbtn:hover {
	color: rgba(250, 250, 250, 0.3);
	box-shadow: 25px 0px 200px rgba(255, 255, 0, 1);
	border-radius: 50%;
}

#logo {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 5% auto 5% auto;
	position: relative;
	animation-name: animate;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes animate {
	0% {
		top: 7px;
	}
	25% {
		top: -7px;
	}
	50% {
		top: 7px;
	}
	75% {
		top: -7px;
	}
	100% {
		top: 7px;
	}
}

/* testing landing stuff above */

/* testing : the following original style */
header {
	/* display: inline-flex; */
	border: yellowgreen solid 3px;
	height: 10vh;
	visibility: hidden; /* testing */
}

/* not working, cannot hide main content first */
main.container {
	/* display: none; */
}

audio {
	display: none;
}

span {
	border: yellowgreen solid 3px;
	background-color: limegreen;
}

section.container {
	display: flexbox;
	position: absolute;
	top: 5%;
	left: 5%;
	border: green solid 3px;
	width: 95vh;
}

.box-1 {
	flex: 1;
	order: 1;
}

.box-2 {
	flex: 3;
	order: 2;
	/* testing out: display: inline-flex; */
	flex-wrap: wrap;
}

div {
	background-color: #fffaa0;
	height: 100px;
	width: 100px;
	margin: 3px;
	border: 3px solid #9fcafb;
	cursor: url("images/tap.png") 25 15, pointer;
}

footer {
	flex-direction: row;
	flex: 3;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ffd2de;
	color: #ae45fc;
	justify-content: center;
}

img.hide {
	max-width: 100%;
	height: auto;
	visibility: hidden;
}

img.cutie {
	max-width: 100%;
	height: auto;
}
