* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("images/bkgimg.jpg");
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	background-size: cover;
	font-family: "Acme", sans-serif;
	color: royalblue;
	text-align: center;
	/* background: rgba(0, 0, 0, 0.5); Black see-through */
}

.bg {
}

header {
	display: inline-flex;
	border: yellowgreen solid 3px;
	height: 10vh;
}

audio {
	display: none;
}

span {
	border: yellowgreen solid 3px;
	background-color: limegreen;
}

.container {
	display: flexbox;
}

.box-1 {
	flex: 1;
	order: 1;
}

.box-2 {
	flex: 3;
	order: 2;
	display: inline-flex;
	flex-wrap: wrap;
}

div {
	background-color: #fffaa0;
	height: 100px;
	width: 100px;
	margin: 3px;
	border: 3px solid #9fcafb;
	cursor: url("images/tap.png") 25 15, pointer;
}

footer {
	flex-direction: row;
	flex: 3;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ffd2de;
	color: #ae45fc;
	justify-content: center;
}

img.hide {
	max-width: 100%;
	height: auto;
	visibility: hidden;
}

img.cutie {
	max-width: 100%;
	height: auto;
}
